<div>
  <div class="container">
    <header class="application--header">
      {{#link-to 'application'}}
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/290px-NASA_logo.svg.png"
          alt="nasa meatball logo"
          class="application--header__branding"/>
      {{/link-to}}
    </header>
  </div>
</div>
<div>
  <div class="container">
    {{outlet}}
  </div>
</div>